@font-face {
  font-family: 'slogan';
  src: url(../fonts/LilitaOne-Regular.ttf);
}

@font-face {
  font-family: 'bold';
  src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: 'regular';
  src: url(../fonts/Poppins-Regular.ttf);
}