body {
  margin: 0;
}

#header {
  padding: 30px 0;
  background-color: #119DA4;
}

#header h1 {
  text-align: center;
  color: white;
  font-family: 'slogan';
  font-size: 300%;
  text-shadow: 3px 3px 5px black;
}

#main {
  display: flex;
}

#menu {
  width: 15%;
  background-color: #DBD2E0;
  padding: 30px 20px;
}

#menu span {
  font-family: 'bold';
  font-size: 150%;
}

#menu ul {
  list-style: none;
  padding-left: 0;
}

#menu li {
  font-family: 'regular';
  margin-bottom: 10px;
  cursor: pointer;
}

#menu li:hover {
  color: #555;
}

#content {
  padding: 30px 20px;
  width: 85%;
}

#content-title {
  font-family: 'bold';
  text-align: center;
}

.content-card {
  border-radius: 50px;
  background: #f7f7f7;
  box-shadow: 20px 20px 60px #d2d2d2,
    -20px -20px 60px #ffffff;
  display: flex;
  width: 70%;
  margin: 50px auto;
  padding: 40px;
}

.content-card span {
  font-family: 'regular';
  width: 50%;
  padding: 0 10px;
  font-size: 115%;
}

.content-card img {
  width: 50%;
}

#footer {
  background-color: #24252a;
  padding: 50px 20px;
}

#footer span {
  color: white;
  font-family: 'bold';
}